* {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
   font-weight: 100;
   font-size: 20px;
} 

.caja  {
   background: red;
   margin: 25px;
   transition: all 1s;

}

.caja:focus {
   background: rgb(73, 70, 255);
}