*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 30px;

}

.caja1 {
    width: 200px;
    height: 200px;
    background: red;
    margin: auto;
    outline:20px  solid blue;
    box-sizing: content-box;
}

.caja2 {
    width: 200px;
    height: 200px;
    background: violet;
    margin: auto;
}