*{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 100;
   font-size: 30px;

}
div{
   width: 120px;
   height: 120px;
   display: block;
   background: #444;


}

.caja1{

}

.caja2{
   right: 0;


}

.caja3{
   right: 0;
   bottom: 0;
}

.caja4{
   bottom: 0;
}

.caja5{
   bottom: 0;
   left: 0;
   
}